<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}olax{% endblock %}</title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
 
    <header>
        <h1><a href="{% url 'home' %}">{% for name in names %}
            <h1>{{name.name}}</h1>
            {% endfor %}</a></h1> 
        <nav>
            <b>
         <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'gallary'%}">Gallary</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                
            </ul>
        </b>
        </nav>
    </header>
</head>
<body>


    <main>
        {% block content %}
            <p>This is the default content. Replace me in your other templates!</p>
        {% endblock %}
    </main>

    <footer>
        &copy; 2024 My Portfolio
    </footer>

    
</body>
</html>
